@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
::-webkit-scrollbar{
  display: none;
}
img.dot{
  width: 15px !important;
}